<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DATASOURCE" value="localhost:15211/xe"/>
		<add key="DABPRIVILEGE" value="SYSDBA"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="isPasswordRemmembered" value="0"/>
	</appSettings>
</configuration>